$red: #9F0013;
$black-background: #020106;
$light: #FFFFFF;
$light-gray: #5C5C5C;
$dark: #000;
$silver: #c4c4c4;
$black-gray: #232222;

$breakpoints: (
    "xl": 1600px,
    "lg": 1400px,
    "md": 1024px,
    "sm": 768px,
    "xs": 480px
);